@import '@assets/styles/colors';

.titleBarContainer {
    width: 100%;
    height: 54px;
    color: $dark-color-white;
    background-color: $dark-title-bar-green;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .titleIconContainer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        h4 {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
        }

    }
}