//// colors for dark theme ////
$dark-color-white: #ffffff;
$dark-content-bg: #222A3C;
$dark-content-border: #373F53;
$dark-sidebar-bg: #181F2C;
$dark-pages-bg: #0D0F14;
$dark-light-green-bg: #07BE93;
$dark-title-bar-green: #085845;


$dark-border-half-white: rgba(255, 242, 242, 0.38);

////////////////////////////// 
$color-link: #00c5fb;
$color-shadow: 0 3px 10px rgb(0 0 0 / 11%);
$color-body-background: #f2f2f5;
$color-white: #fff;
$color-gray-light: #a3a4a4;




